#container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
#start {
  display: flex;
}

#end {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}
#center {
  display: flex;
  align-items: center;
  justify-content: center;
}
#search-form {
  width: 536px;
  border: 1px solid rgba(0, 0, 0, 0.178);
  padding: 0 4px 0 16px;
  margin-left: 32px;
  border-right: none;
  border-radius: 40px 0 0 40px;
  display: flex;
  align-items: center;
}
.header-form_search {
  margin-right: 12px;
}
.header-from_tia-icon {
  margin-right: 12px;
}

.header-logo {
  padding: 18px 14px 18px 16px;
}

.header-button_small {
  padding: 8px;
}
.header-search_input {
  border: none;
  font-size: 16px;
  height: 38px;
  outline: 0;
  outline-offset: 0;
  width: 100%;
}
.icon-legacy {
  border-radius: 0 40px 40px 0;
  cursor: pointer;
  height: 40px;
  width: 64px;
  border: 1px solid rgba(0, 0, 0, 0.178);
  display: flex;
  align-items: center;
  justify-content: center;
}
