body {
  padding: 0 16px;
}

#content {
  display: flex;
}

#sidebar {
  padding: 0 10px;
  max-height: 500px;
  // overflow-y: auto;
  scrollbar-color: transparent transparent;
  scrollbar-width: thin;
  margin-top: 12px;
}

// #contents {
//   margin: 16px;
// }
